*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --bg-color: #fce5c1;
  --link-color: #fcf6db;
  --color: #1b1101;
  --orange: #f95f00;

  background-color: var(--bg-color);
  font-family: 'Nixie One', sans-serif;
  color: var(--color);
}

header {
  height: calc(120px + 30px);
  margin: 4rem 0 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  
}

header div {
  width: 150px;
  height: 100%;
  padding: 4px;
  margin: 0 auto;
  border: 1px solid var(--orange);
  border-radius: 50%;
  transition-property: initial;
  transition-duration: 2s;
}

header img {
  width: 100%;
  border-radius: 9.99rem;
} 

main {
  text-align: center;
}

.links {
  width: 100%;
  margin: 4rem 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;
}

.links a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Nixie One', sans-serif;
  color: var(--color);
  background-color: var(--link-color);
  border-radius: 0.7rem;
  padding: 0.75rem 8rem;
  text-align: center;

}

li {
  transition: 0.3s;
}

.links li:hover {
  transform: scale(1.1);
}

footer ul {
  list-style-type: none;

  display: flex;
  justify-content: center;
  gap: 2rem;
}

footer li {
  transition: 0.3s;
}

footer li:hover {
  transform: scale(0.7);
}

footer li img {
  width: 28px;
  height: 28px;

}
